# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist
/.vercel
/.netlify

# local env files
.env
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite cache
/node_modules/.vite

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store
Thumbs.db
